body {
	background: #BBEE88;
	font-family: Droid Sans;
	display: flex;
	flex-direction: column;
	padding-left: 7em;
	width: 60em;
}

.article {
	padding-top: 0.5em;
	width: fit-content;
}

.edit {
	display: inline;
}

main {
	display: flex;
	flex-direction: column;
}


@media only screen and (max-width: 768px) {
	body {
		padding-left: 1em;
		padding-right: 1em;
		width: 100%;
	}
}
