
h1 {
	padding-top: 1em;
}


body {
	display: flex;
	flex-direction: column;
	padding-left: 7em;
	width: 60e;
}

.software {
	font-weight: bold;
}

.article {
	padding-top: 0.5em;
}

main {
	display: flex;
	flex-direction: column;
}


@media only screen and (max-width: 768px) {
	h1 {
		padding-top: 0em;
	}
	body {
		padding-left: 1em;
		padding-right: 1em;
		width: 100%;
	}
}
