body {
	padding-left: 7em;
	width: 60em;

	font-family: Helvetica;

	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: fixed;
	left: 0;
	bottom: 0;

	background: white;

}

footer a {

	padding: 4em 1em 4em 1em;

	font-size: 150%;
}

.filler {
	display: flex;
	width: 6em;
	padding: 5em;
}
